<%= render 'layouts/headbar'%>
<div class="container">
  <%= render 'layouts/breadcrumb'%>
  <% if can? :manage, Theatre %>
  <%= link_to 'New Theatre', new_theatre_path %>
  <% end %>
  <% if flash[:notice] %>
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= flash[:notice] %>
  </div>
  <% end %>
  <div class="well">
    <table id="datatable" class="table table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>City</th>
          <th>Screens</th>
          <% if current_user.role == "admin" %>
          <th colspan=3>Action</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @theatres.each do |theatre| %>
        <tr>
          <td><%= theatre.name %></td>
          <td><%= theatre.address %></td>
          <td><%= theatre.city %></td>
          <td><%= link_to 'Screens',theatre_screens_path(theatre) %></td>
          <% if can? :manage, Theatre %>
          <td><%= link_to '', theatre, class: "fa fa-eye" ,title: "Show"%></td>
          <td><%= link_to '', edit_theatre_path(theatre),class: "fa fa-pencil-square-o" ,title: "Edit" %></td>
          <td><%= link_to '', theatre, method: :delete, data: { confirm: 'Are you sure?' } ,class: "fa fa-times", title: "Delete"%></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="digg_pagination">
      <%= will_paginate @theatres, :container => false %>
    </div>
  </div>
</div>
