<%= render template: "layouts/headbar" %>
<div class="container">
  <%= render 'shared/breadcrumb' %>
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="well">
    <p class="lead">
      <strong>Name:</strong>
      <%= @theatre.name %>
    </p>

    <p class="lead">
      <strong>Address:</strong>
      <%= @theatre.address %>
    </p>

    <p class="lead">
      <strong>City:</strong>
      <%= @theatre.city %>
    </p>

    <%= link_to 'Edit', edit_theatre_path(@theatre) %> |
    <%= link_to 'Back', theatres_path %>
  </div>
</div>
