<%= form_for [@theatre, @screen,@seat] do |f| %>
<% if @seat.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@seat.errors.count, "error") %> prohibited this seat from being saved:</h2>

  <ul>
    <% @seat.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= f.label :seat_type %><br>
  <%= f.select :seat_type, SEAT_TPYE, {}, class: "form-control", :selected =>f.object.seat_type, :required => true%>
</div>
<div class="form-group">
  <%= f.label :row %><br>
  <%= f.text_field :row, class: "form-control" %>
</div>
<% if @seat.new_record? %>
<div class="form-group">
  <%= f.label :number_of_seat %>&nbsp;&nbsp;<small>Capacity left : <%= @screen.capacity - @screen.seats.count %></small>
  <%= number_field_tag :number_of_seat, nil, :class => "number form-control", :required => true %>
  <span class="error-action label label-danger" style="display: none;">Capacity Overloaded</span>
</div>
<%else%>
<div class="form-group">
  <%= f.label :seat_number %><br>
  <%= f.number_field :seat_number, class: "form-control", :required => true %>
</div>
<%end%>
<div class="form-group">
  <%= f.submit class: "btn btn-default btn-action" %>
</div>
<% end %>
<script>
$(document).ready(function(){
  capacity_left = <%= @screen.capacity - @screen.seats.count %>;
  $(".number").on("keyup", function() {
    no_of_seats = $(this).val();
    if(no_of_seats > capacity_left){
      $(".btn-action").attr("disabled", "disabled");
      $(".error-action").show();
    }
    else{
      $(".btn-action").removeAttr("disabled");
      $(".error-action").hide();
    }
  });
});
</script>
