<%= render 'layouts/headbar'%>
<% if current_user.role=="admin"%>
<%=render 'layouts/breadcrumb'%>
<%end%>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Seat Row</th>
      <th>Seat Number</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seats.each do |seat| %>
      <tr>
        <td><%= seat.row %></td>
        <td><%= seat.seat_number %></td>
        <% if current_user.role=="admin"%>
        <td><%= link_to 'Show', theatre_screen_seat_path(@theatre,@screen,seat) %></td>
        <td><%= link_to 'Edit', edit_theatre_screen_seat_path(@theatre,@screen,seat) %></td>
        <td><%= link_to 'Destroy',[@theatre,@screen,seat], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
        <td><%=seat.status%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.role=="admin"%>
<%= link_to 'New Seat', new_theatre_screen_seat_path(@theatre,@screen) %>
<%end%>
