<%= render 'layouts/headbar'%>
<%= render 'layouts/breadcrumb'%>
<div class="container">
  <div class="well">
    <p class="lead">
      <strong>Row:</strong>
      <%= @seat.row %>
    </p>

    <p class="lead">
      <strong>Number</strong>
      <%= @seat.seat_number %>
    </p>
    <%= link_to 'Edit', edit_theatre_screen_seat_path(@theatre,@screen,@seat) %> |
    <%= link_to 'Back', theatre_screen_seats_path(@theatre, @screen, @seat) %>
  </div>
</div>
