<%= render 'layouts/headbar'%>

<div class="container">
  <%=render 'layouts/breadcrumb'%>
  <div class="well">
    <%= render 'form' %>
    <%= link_to 'Show', @movie %> |
    <%= link_to 'Back', movies_path %>
  </div>
</div>
