<%= render template: "layouts/headbar" %>
<div class="container">
  <% if flash[:notice] %>
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= flash[:notice] %>
  </div>
  <% end %>
  <%= render 'shared/breadcrumb' %>
  <div class="well">
    <p class="lead">
      <strong>Name:</strong>
      <%= @movie.name %>
    </p>

    <p class="lead">
      <strong>Language:</strong>
      <%= @movie.language %>
    </p>

    <p class="lead">
      <strong>Genre:</strong>
      <%= @movie.genre %>
    </p>

    <p class="lead">
      <strong>Duration:</strong>
      <%= @movie.duration %>
    </p>

    <p class="lead">
      <strong>Movie format:</strong>
      <%= @movie.movie_format %>
    </p>

    <p class="lead">
      <strong>Trailer url:</strong>
      <%= @movie.trailer_url %>
    </p>

    <p class="lead">
      <strong>Rating:</strong>
      <%= @movie.rating %>
    </p>

    <p class="lead">
      <strong>Release date:</strong>
      <%= @movie.release_date %>
    </p>
    <% if can? :manage, Movie %>
    <% if current_user.role == "admin" %>
    <%= link_to 'Edit', edit_movie_path(@movie) %> |
    <% end %>
    <%= link_to 'Back', movies_path %>|
    <% end %>

    <%= link_to 'Add Review', new_movie_comment_path(@movie) %>
  </div>
</div>
