<%= render 'layouts/headbar'%>
<div class="container">
  <%= render 'layouts/breadcrumb'%>
  <div class="well">
    <p class="lead">
      <strong>Name:</strong>
      <%= @movie.name %>
    </p>

    <p class="lead">
      <strong>Language:</strong>
      <%= @movie.language %>
    </p>

    <p class="lead">
      <strong>Genre:</strong>
      <%= @movie.genre %>
    </p>

    <p class="lead">
      <strong>Duration:</strong>
      <%= @movie.duration %>
    </p>

    <p class="lead">
      <strong>Movie format:</strong>
      <%= @movie.movie_format %>
    </p>

    <p class="lead">
      <strong>Trailer url:</strong>
      <%= @movie.trailer_url %>
    </p>

    <p class="lead">
      <strong>Rating:</strong>
      <%= @movie.rating %>
    </p>

    <p class="lead">
      <strong>Release date:</strong>
      <%= @movie.release_date %>
    </p>
    <% if current_user.role == "admin" %>
      <%= link_to 'Edit', edit_movie_path(@movie) %> |
    <% end %>
    <%= link_to 'Back', movies_path %>
  </div>
</div>
