<%= render template: "layouts/headbar" %>
<div class="container">
  <%= render 'shared/breadcrumb' %>
  <div class="well">
    <h1>Editing Screen</h1>
    <%= render 'form' %>
    <%= link_to 'Show', theatre_screen_path(@theatre,@screen) %> |
    <%= link_to 'Back', theatre_screens_path(@theatre) %>
  </div>
</div>
