<%= render 'layouts/headbar'%>
<div class="container">
  <%=render 'layouts/breadcrumb'%>
  <% if current_user.role == "admin" %>
  <%= link_to 'New Screen', new_theatre_screen_path(@theatre) %>
  <% end %>
  <div class="well">
    <table id="datatable" class="table table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Capacity</th>
          <% if current_user.role == "admin" %>
          <th>Seats</th>
          <th>Action</th>
          <th>Action</th>
          <th>Action</th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @screens.each do |screen| %>
        <tr>
          <td><%= screen.name %></td>
          <td><%= screen.capacity %></td>
          <% if current_user.role == "admin" %>
          <td><%= link_to 'Seats', theatre_screen_seats_path(@theatre,screen) %></td>
          <td><%= link_to 'Show', theatre_screen_path(@theatre,screen) %></td>
          <td><%= link_to 'Edit', edit_theatre_screen_path(@theatre,screen) %></td>
          <td><%= link_to 'Destroy',[@theatre,screen], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
