<%= render 'layouts/headbar'%>

<div class="container">
  <%=render 'layouts/breadcrumb'%>
  <div class="well">
    <p class="lead">
      <strong>Name:</strong>
      <%= @screen.name %>
    </p>

    <p class="lead">
      <strong>Capacity:</strong>
      <%= @screen.capacity %>
    </p>

    <%= link_to 'Edit', edit_theatre_screen_path(@theatre,@screen) %> |
    <%= link_to 'Back', theatre_screens_path(@theatre) %>
  </div>
</div>
