<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @screen.name %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @screen.capacity %>
</p>

<%= link_to 'Edit', edit_theatre_screen_path(@theatre,@screen) %> |
<%= link_to 'Back', theatre_screens_path(@theatre) %>
