<h1><%=@theatre.name%></h1>
<%@screens.each do |screen|%>
	<%=screen.name %>
	<br>
<%end%>




<br>
Todays Show
<br>

<%@shows.each do |show|%>
	<%=link_to show.movie.name , movie_show_path(show.movie,show) ,:title => '150 Seat avialabe' %>
	<%=show.screen.name%> |
	<%=show.starttime.strftime("on %d/%m/%Y at %I:%M%p")%>
	<br>
<%end%>


