<style type="text/css">
th,td,tr{
	border: 1px solid #ccc;
}
</style>
<table>
  <thead>
    <tr>
      <th>User Name</th>
      <th>No of ticket</th>
      <th>amout</th>
      <th>Payment Mode</th>
      <th>Card Type</th>
      <th>Card No</th>
      <th>Ticket</th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.user.first_name %></td>
        <td><%= booking.number_of_tickets %></td>
        <td><%= booking.amount %></td>
        <td><%= booking.payment_mode %></td>
        <td><%= booking.card_type %></td>
        <td><%= booking.card_number %></td>
        <td><%= link_to 'Shows Ticket',booking_tickets_path(booking) %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<br>

