<%# render 'layouts/headbar'%>
<div class="container">
  <%= render 'layouts/breadcrumb'%>
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="well">
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>User Name</th>
          <th>No of ticket</th>
          <th>amount</th>
          <th>Payment Mode</th>
          <th>Card Type</th>
          <th>Card No</th>
          <th>Ticket</th>
        </tr>
      </thead>
      <tbody>
        <% @bookings.each do |booking| %>
        <tr>
          <td><%= booking.user.first_name %></td>
          <td><%= booking.number_of_tickets %></td>
          <td><%= booking.amount %></td>
          <td><%= booking.payment_mode %></td>
          <td><%= booking.card_type %></td>
          <td><%= booking.card_number %></td>
          <td><%= link_to 'Shows Ticket',booking_tickets_path(booking) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
