<%= render 'layouts/headbar'%>

<div class="container">
  <%= render 'layouts/breadcrumb'%>
  <div class="panel panel-primary" style="margin: 0 auto; width: 40%;">
    <div class="panel-heading">
      <div class="panel-title">Ticket Details</div>
    </div>
    <div class="panel-body">
      <p class="lead">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        User : <%= current_user.first_name %>
      </p>
      <p class="lead">
        <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>
        <% @tickets.each do |ticket| %>
        <% @movie_name = ticket %>
        <% @total = ticket %>
        <% @start_time = ticket %>
        <% @screen = ticket %>
        <%= ticket.type if ticket.type.present? %>
        <%= ticket.seat.row%><%=ticket.seat.seat_number %>
        <% end %>
      </span>
    </p>
    <p class="lead">
      <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
      <%= @movie_name.movie.name if @movie_name.present? %>
      <%= @start_time.show.starttime.strftime("on %d/%m/%Y at %I:%M%p") if @start_time.present? %>
    </p>
    <p class="lead">
      <span class="glyphicon glyphicon-sound-dolby" aria-hidden="true"></span>
      <%= @screen.show.screen.name if @screen.present? %>
    </p>
    <p class="lead">
      <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
      Price : <%= @total.booking.amount if @total.present? %>
    </p>
  </div>
</div>
