<%= render 'layouts/headbar'  %>
<div class="container">
	<div class="well">
<h3>Theatre Name : <%= @shows.first.theatre.name %></h3>
<table id="datatable" class="table table-condensed">
	<thead>
		<th>Movie</th>
		<th>Screen</th>
		<th>Date</th>
		<th>Time</th>
		<th>Action</th>
	</thead>

	<tbody>
		<% @shows.each do | show |%>
		<tr>
			<td><%= link_to show.movie.name, new_movie_show_booking_path(show.movie,show) %></td>
			<td><%= show.screen.name %> </td>
			<td><%= show.starttime.strftime("%d/%m/%Y") %></td>
			<td><%= show.starttime.strftime("%I:%M%p") %></td>
			<td><%=link_to 'Book Ticket', new_movie_show_booking_path(show.movie, show)%></td>
		</tr>
		<%end%>
	</tbody>
</table>
</div>
</div>
