<h1><%=@theatre.name%></h1>
<%@screens.each do |screen|%>
	<%=screen.name %>
	<br>
<%end%>




<br>
<br>

<%@shows.each do |show|%>
	<%=link_to show.movie.name , theatre_screen_seats_path(@theatre,show.screen) %>
	<%=show.screen.name%> |
	<%=show.starttime.strftime("on %d/%m/%Y at %I:%M%p")%>
	<br>
<%end%>


