<%= render template: "layouts/headbar" %>
<div class="container">
	<% if flash[:notice] %>
	<div class="alert alert-success">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<%= flash[:notice] %>
	</div>
	<% end %>
	<div class="well well-lg">
		<p class="lead col-xs-12">Movies going on at Bookmycinema</p>
		<div class="row">
			<% @movies.each do | langugae, mov | %>
			<div class="col-xs-4 col-md-4 col-lg-4">
				<div class="row">
					<div class="col-xs-12 col-md-12 list-group">
						<a href="" class="col-xs-12 col-md-12 category-heading list-group-item active"><%= langugae %></a>
						<% mov.each do |movie| %>
							<% if movie.present? %>
							<a href="movie_theatres/<%= movie.id %>" class="col-xs-12 col-md-12 list-group-item" style="text-overflow: ellipsis;">
								<%= movie.name %>
								<span class="badge"><%= movie.movie_format %></span>
							</a>
							<% else %>
							<a href="movie_theatres/<%=movie.id%>" class="col-xs-12 col-md-12 list-group-item" style="text-overflow: ellipsis;">
								Movie Not Present
							</a>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>
