<%= render "layouts/headbar" %>
<div class="container">
	<div class="well well-lg">
		<p class="lead">Now showing...</p>
		<div style="margin-top: 25px;"></div>

		<div class="row">
			<div class="col-xs-4 col-md-4 col-lg-4">
				<div class="col-xs-12 col-md-12 list-group">
					<a href="" class="col-xs-12 col-md-12 category-heading list-group-item active">English</a>
					<% @movie.each do |m| %>
						<% if m.language.humanize == "English" %>
						 <a href="<%= movie_path(m.id) %>" class="col-xs-12 col-md-12 list-group-item" style="text-overflow: ellipsis;">
							 <%= m.name %>
							 <span class="badge"><%= m.movie_format %></span>
						 </a>
						<% end %>
					<% end %>
				</div>
			</div>

			<div class="col-xs-4 col-md-4 col-lg-4">
				<div class="col-xs-12 col-md-12 list-group">
					<a href="" class="col-xs-12 col-md-12 category-heading list-group-item active">Hindi</a>
					<% @movie.each do |m| %>
						<% if m.language.humanize == "Hindi" %>
						 <a href="<%= movie_path(m.id) %>" class="col-xs-12 col-md-12 list-group-item" style="text-overflow: ellipsis;">
							 <%= m.name %>
							 <span class="badge"><%= m.movie_format %></span>
						 </a>
						<% end %>
					<% end %>
				</div>
			</div>

			<div class="col-xs-4 col-md-4 col-lg-4">
				<div class="col-xs-12 col-md-12 list-group">
					<a href="" class="col-xs-12 col-md-12 category-heading list-group-item active">Marathi</a>
					<% @movie.each do |m| %>
						<% if m.language.humanize == "Marathi" %>
						 <a href="<%= movie_path(m.id) %>" class="col-xs-12 col-md-12 list-group-item" style="text-overflow: ellipsis;">
							 <%= m.name %>
							 <span class="badge"><%= m.movie_format %></span>
						 </a>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
