<%= render template: "layouts/headbar" %>
<div class="container">
	<%= render 'shared/breadcrumb' %>
	<div class="well">
		<h3>Theatre Name : <%= @theatre.name %></h3>
		<table class="table table-condensed">
			<tbody>
				<% @shows.each do |mm,showes| %>
				<tr>
					<td><%= link_to mm %></td>
					<%showes.each do |show|%>
					<td title="180 seat remain">
						<%= link_to  show.starttime.strftime("%I:%M%p"), new_movie_show_booking_path(show.movie,show) %></td>
						<%end%>
					</tr>
					<%end%>
				</tbody>
			</table>
		</div>
	</div>
