
<%= form_for [@movie,@show] do |f| %>
  <% if @show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@show.errors.count, "error") %> prohibited this show from being saved:</h2>
      <ul>
        <% @show.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :screen_id, class: "control-label" %>
    <%= f.select :screen_id, @theatre.collect{ |u| [u.name, u.id] }, class: "form-control amura-select2", required: "required", data: {type: "ds", "vertical-blank" => true, "default-value" => f.object.screen_id, name: "screen_id"} %>
  </div>
  <div class="form-group">
    <%= f.label :starttime, class: "control-label" %>
    <%= f.datetime_local_field :starttime, class: "", required: "required"  %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
