<%= render template: "layouts/headbar" %>
<div class="container">
  <%= render 'shared/breadcrumb' %>
  <div class="well">
    <%= render 'form' %>
    <%= link_to 'Show', movie_show_path(@movie,@show) %> |
    <%= link_to 'Back', movie_shows_path(@movie) %>
  </div>
</div>
