<%=render 'layouts/breadcrumb'%>
<table>
  <thead>
    <tr>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Screen</th>
      <th>Theater</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @shows.each do |show| %>
      <tr>
        <td><%= show.starttime.strftime("on %d/%m/%Y at %I:%M%p") %>|</td>
        <td><%= show.endtime.strftime("on %d/%m/%Y at %I:%M%p") %>|</td>
        <td><%= show.screen.name if show.screen? %></td>
        <td>City Pride<%#= screen.theater.name if screen.theater? %></td>

        <td><%= link_to 'Show', movie_show_path(@movie,show) %></td>
        <td><%= link_to 'Edit', edit_movie_show_path(@movie,show) %></td>
        <td><%= link_to 'Destroy',[@movie,show], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Show', new_movie_show_path(@movie) %>