<h1>Listing Shows</h1>
<h3>Movie Name:<%=@movie.name%></h3>
<table>
  <thead>
    <tr>
      <th>Start Time</th>
      <th>End Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shows.each do |show| %>
      <tr>
        <td><%= show.starttime %></td>
        <td><%= show.endtime %></td>
        <td><%= link_to 'Show', movie_show_path(@movie,show) %></td>
        <td><%= link_to 'Edit', edit_movie_show_path(@movie,show) %></td>
        <td><%= link_to 'Destroy',[@movie,show], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Show', new_movie_show_path(@movie) %>