<%=render 'layouts/headbar'%>
<div class="container">
  <%=render 'layouts/breadcrumb'%>
  <div class="well">
      MovieName:<%=@show.movie.name%><br>
      StartTime:<%=@show.starttime.strftime("on %d/%m/%Y at %I:%M%p")%><br>
      EndTime:<%=@show.endtime.strftime("on %d/%m/%Y at %I:%M%p")%><br>
  </div>
  <div>
    <%if current_user.role=="admin"%>
      <%= link_to 'Edit', edit_movie_show_path(@movie,@show) %> |
      <%= link_to 'Back', movie_shows_path(@movie) %>
    <%end%>
  </div>
</div>
