<%= form_for @bookings, html: {class: "nifty_form"} do |f| %>
<p>
  <strong>Screen Name:</strong>
  <%= @screen.name%>

</p>
<p>
 <strong>Movie Name:</strong>
 <%=@movie.name%>
</p>
<p>
  <strong>Start Time:</strong>
  <%= @show.starttime.strftime("on %d/%m/%Y at %I:%M%p")%>
</p>

<p>
  <strong>End Time:</strong>
  <%= @show.endtime.strftime("on %d/%m/%Y at %I:%M%p")%>
</p>
<p>
	<strong>Total Seat:</strong>
	<%=@seats.count%>
</p>

<%@seats.each do |seat|%>
    <%=check_box_tag(seat.id, value = "1", checked = false)%>
 	<%=seat.row%>
	<%=seat.seat_number%>&nbsp;&nbsp;|&nbsp;
	<%=seat.status%>
	<br>
<%end%>
<%= submit_tag("Book") %>
<% end %>

<%if current_user.role=="admin"%>
	<%= link_to 'Edit', edit_movie_show_path(@movie,@show) %> |
	<%= link_to 'Back', movie_shows_path(@movie) %>
<%end%>
