<nav class="globalnav">
  <center>
    <div class="globalnav-content">
      <div class="globalnav-item-holder col-sx-12">
        <span class="globalnav-item col-xs-1">bookmycinema</span>
      </div>
    </div>
  </center>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to('bookmycinema', root_path, class: "navbar-brand") %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to('Movies', movies_path) %></li>
            <% if current_user.role == "admin" %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin Panel <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to('Manage Theatres', theatres_path) %></li>
                  <li><%= link_to('Manage Movies', movies_path) %></li>
                </ul>
              </li>
            <% end %>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <%= current_user.first_name.humanize + " " + current_user.last_name.humanize %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
              </ul>
            </li>
          </ul>
        </div>
    </div>
  </nav>
</nav>
<div style="margin-top: 70px;"></div>
